<div class="delta-content">
    <div class="delta-navbar-top">
        <ng-include src="'views/common/templates/navbar-top.view.client.html'">
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="visible-lg col-lg-3 delta-split-view-left">
                <ul class="list-group">
                    <li ng-repeat="listing in model.listings" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10">
                                <a href="#!/game/{{listing._game._id}}/detail"><b>{{listing._game.name}}</b></a>
                            </div>
                            <div class="col-xs-2">
                                <a href="#!/game/{{listing._game._id}}/manage"><span
                                        class="glyphicon glyphicon-cog pull-right"></span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-lg-9 delta-split-view-right">
                <label for="name">Name</label>
                <input name="Name" ng-model="model.inventory.name" class="form-control" id="name" readonly/>

                <label for="gameId">GameId</label>
                <input name="GameId" ng-model="model.inventory._game" class="form-control" id="gameId" readonly/>

                <label for="quantity">Quantity</label>
                <input name="Quantity" ng-model="model.inventory.quantity" class="form-control" id="quantity"/>

                <label for="price">Price</label>
                <input name="Price" ng-model="model.inventory.price" class="form-control" id="price"/>

                <a class="btn btn-default btn-primary btn-block"
                   ng-click="model.updateListing(model.inventory)">Update</a>

                <a class="btn btn-default btn-danger btn-block" ng-click="model.deleteListing()">Remove</a>
            </div>
        </div>
    </div>
</div>