<div class="delta-content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-xs-1 pull-left">
                    <a href="#!/user/{{model.userId}}/game"><span
                            class="delta-navbar-icon glyphicon glyphicon-chevron-left pull-left"></span></a>
                </div>
                <div class="visible-lg col-lg-1">
                    <p class="accent-text pull-left"><b>Games</b></p>
                </div>
                <div class="visible-lg col-lg-1">
                    <a href="#!/user/{{model.userId}}/game/new"><span
                            class="delta-navbar-icon glyphicon glyphicon-plus pull-right"></span></a>
                </div>

                <div class="col-lg-2">
                    <p class="accent-text pull-left"><b>New Game</b></p>
                </div>

                <div class="col-lg-1 pull-right">
                    <a ng-click="model.createGame(model.game)" role="button"><span
                            class="delta-navbar-icon glyphicon glyphicon-ok pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="visible-lg col-lg-3">
                <ul class="list-group">
                    <li ng-repeat="game in model.games" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10">
                                <a href="#!/user/{{model.userId}}/game/{{game._id}}/page"><b>{{game.name}}</b></a>
                            </div>
                            <div class="col-xs-2">
                                <a href="#!/user/{{model.userId}}/game/{{game._id}}"><span
                                        class="glyphicon glyphicon-cog pull-right"></span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-lg-9">
                <label for="name">Name</label>
                <input name="Name" ng-model="model.game.name" placeholder="Name" class="form-control" id="name"/>

                <label for="externalId">ExternalID</label>
                <input name="ExternalId" ng-model="model.game.externalId" placeholder="44444"
                       class="form-control" id="externalId"/>

                <label for="description">Description</label>
                <textarea rows="5" placeholder="Description" class="form-control"
                          id="description" ng-model="model.game.description"></textarea>

                <label for="cover">Cover</label>
                <input name="Cover" ng-model="model.game.cover" placeholder="Cover" class="form-control" id="cover"/>
            </div>
        </div>
    </div>
    <div class="delta-navbar-bottom">
        <ng-include src="'views/common/templates/navbar-bottom.view.client.html'">
    </div>
</div>