<div class="delta-content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-xs-1 pull-left">
                    <a href="#!/user/{{model.userId}}/"><span class="delta-navbar-icon glyphicon glyphicon-chevron-left pull-left"></span></a>
                </div>
                <div class="col-lg-1 col-xs-2">
                    <p class="accent-text pull-left"><b>Games</b></p>
                </div>
                <div class="col-lg-1 col-xs-2 pull-right">
                    <a href="#!/user/{{model.userId}}/game/new"><span
                            class="delta-navbar-icon glyphicon glyphicon-plus pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
            <div class="col-xs-12 col-lg-8 col-md-10">
                <ul class="list-group">
                    <li ng-repeat="game in model.games" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2">
                                <img ng-src="{{game.cover}}" width="120" height="160">
                            </div>
                            <div class="col-xs-8">
                                <a href="#!/user/{{model.userId}}/game/{{game._id}}/page"><h4>{{game.name}}</h4></a>
                                <p>{{game.description}}</p>
                            </div>
                            <div class="col-xs-2">
                                <a href="#!/user/{{model.userId}}/game/{{game._id}}">
                                    <span class="glyphicon glyphicon-cog pull-right"></span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
        </div>
    </div>
    <div class="delta-navbar-bottom">
        <ng-include src="'views/common/templates/navbar-bottom.view.client.html'">
    </div>
</div>