a:hover {
    text-decoration: none;
}

.delta-login {
    padding-top: 48px;
}

.form-control {
    margin-bottom: 8px;
}

.heading {
    text-align: center;
}

.navbar-default {
    background-color: #00838f;
    border-color: #006064;
}
.navbar-default .navbar-brand {
    color: #f6fbfc;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #b2ebf2;
}
.navbar-default .navbar-text {
    color: #f6fbfc;
}
.navbar-default .navbar-nav > li > a {
    color: #f6fbfc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #b2ebf2;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #00838f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #f6fbfc;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #b2ebf2;
    background-color: #006064;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #006064;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b2ebf2;
    background-color: #006064;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #b2ebf2;
    background-color: #006064;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #b2ebf2;
    background-color: #006064;
}
.navbar-default .navbar-toggle {
    border-color: #006064;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #006064;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f6fbfc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #f6fbfc;
}
.navbar-default .navbar-link {
    color: #f6fbfc;
}
.navbar-default .navbar-link:hover {
    color: #b2ebf2;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f6fbfc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #b2ebf2;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #b2ebf2;
        background-color: #006064;
    }
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

#header {
    margin-top: 12px;
}

.delta-margin-top {
    margin-top: 12px;
}

.glyphicon {
    color: #FFFFFF;
    padding-top: 5px;
}

.glyphicon-cog {
    color: inherit;
}

.glyphicon-search {
    color: #000000;
    padding: 0px;
}

.glyphicon-align-justify {
    color: #000000;
}

.accent-text {
    color: #FFFFFF;
    font-size: 18px;
}

.delta-divider {
    padding: 1px;
}

.list-group-item {
    border: none;
}

.delta-vertical-separator {
    border-right: solid 1px;
}

.delta-widget-header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.delta-background-white {
    background-color: #FFFFFF;
}

.delta-widget > .delta-widget-toolbar {
    position: absolute;
    right: 15px;
    background-color: #FFFFFF;
    z-index: 5;
}

.delta-iframe {
    width: 100%;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}