<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-xs-1 pull-left">
                    <a href="#!/user/{{model.userId}}/game"><span
                            class="delta-navbar-icon glyphicon glyphicon-chevron-left pull-left"></span></a>
                </div>
                <div class="col-lg-1 col-xs-2">
                    <p class="accent-text pull-left"><b>Pages</b></p>
                </div>
                <div class="col-lg-1 col-xs-2 pull-right">
                    <a href="#!/user/{{model.userId}}/game/{{model.gameId}}/page/new"><span
                            class="delta-navbar-icon glyphicon glyphicon-plus pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <!--{{ model.gameInfo }}-->
        <!--{{ model.game }}-->
        <div class="row">
            <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
            <div class="col-xs-12 col-lg-8 col-md-10">
                <div class="row profile">
                    <div class="col-md-3">
                        <div class="profile-sidebar">
                            <div class="profile-userpic">
                                <img ng-src="{{ model.gameInfo.image.small_url }}" class="img-responsive" alt="">
                            </div>
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">{{ model.gameInfo.name }}</div>
                                <div class="profile-usertitle-job">{{ model.gameInfo.developers[0].name }}</div>
                            </div>
                            <div class="profile-userbuttons">
                                <div ng-switch="model.liked">
                                    <div ng-switch-when=false>
                                        <a role="button" class="btn btn-success btn-sm"
                                           ng-click="model.likeGame()">Follow</a>
                                    </div>
                                    <div ng-switch-when=true>
                                        <a role="button" class="btn btn-danger btn-sm"
                                           ng-click="model.unLikeGame()">Unfollow</a>
                                    </div>
                                </div>
                                <div ng-switch="model.owned">
                                    <div ng-switch-when=false>
                                        <a role="button" class="btn btn-info btn-sm">Buy</a>
                                        <a role="button" class="btn btn-info btn-sm">Add to Wishlist</a>
                                    </div>
                                    <div ng-switch-when=true>
                                        <h5 class="profile-text"><i>You own this game!</i></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="#"><i class="glyphicon glyphicon-home"></i>
                                            Overview </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-gamepad"></i>Gameplay </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="profile-content">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h3 class="profile-text"><i>{{ model.gameInfo.name }} : Overview</i></h3>
                                </li>
                                <li class="list-group-item">
                                    <label class="profile-text">Summary:</label>
                                    <p><i>{{ model.gameInfo.deck }}</i></p>
                                </li>
                                <li class="list-group-item">
                                    <label class="profile-text">Platform:</label>
                                    <ul ng-repeat="platform in model.gameInfo.platforms">
                                        <li>{{platform.name}}</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <label class="profile-text">Developers:</label>
                                    <ul ng-repeat="developer in model.gameInfo.developers">
                                        <li>{{developer.name}}</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <label class="profile-text">Publishers:</label>
                                    <ul ng-repeat="publisher in model.gameInfo.publishers">
                                        <li>{{publisher.name}}</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <label class="profile-text">DLCs:</label>
                                    <ul ng-repeat="dlc in model.gameInfo.dlcs">
                                        <li>{{dlc.name}}</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <label class="profile-text">Genre:</label>
                                    <ul ng-repeat="genre in model.gameInfo.genres">
                                        <li>{{genre.name}}</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <label class="profile-text">Themes:</label>
                                    <ul ng-repeat="theme in model.gameInfo.themes">
                                        <li>{{theme.name}}</li>
                                    </ul>
                                <li class="list-group-item">
                                    <label class="profile-text">Characters:</label>
                                    <ul ng-repeat="character in model.gameInfo.characters">
                                        <li>{{character.name}}</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <label class="profile-text">Similar Games:</label>
                                    <ul ng-repeat="similar_game in model.gameInfo.similar_games">
                                        <li>
                                            <a ng-click="model.getGameURL(similar_game.id)" role="button">
                                                {{similar_game.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
            <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
        </div>
    </div>


    <div class="delta-navbar-bottom">
        <ng-include src="'views/common/templates/navbar-bottom.view.client.html'">
    </div>
</div>