<div ng-switch="model.isLoggedUser">
    <div ng-switch-when=true>
        <h2 class="heading">Profile</h2>
        <label class="delta-object-text">Username</label>
        <input class="form-control" placeholder="Username" ng-model="model.user.username" readonly>
        <label class="delta-object-text">Email</label>
        <input type="email" ng-model="model.user.email" class="form-control" placeholder="Email"/>
        <label class="delta-object-text">First Name</label>
        <input class="form-control" ng-model="model.user.firstName" placeholder="First Name"/>
        <label class="delta-object-text">Last Name</label>
        <input class="form-control" ng-model="model.user.lastName" placeholder="Last Name"/>
        <label class="delta-object-text">Cover</label>
        <input class="form-control" ng-model="model.user.cover" placeholder="Cover"/>
        <a class="btn btn-primary btn-block" ng-click="model.updateUser(model.user)"><b>Update</b></a>
        <a class="btn btn-danger btn-block" ng-click="model.logout()"><b>Logout</b></a>
    </div>
    <div ng-switch-when=false>
        <h2 class="heading">Profile</h2>
        <label class="delta-object-text">Username</label>
        <h4>{{model.user.username}}</h4>
        <label class="delta-object-text">Email</label>
        <h4>{{model.user.email}}</h4>
        <label class="delta-object-text">First Name</label>
        <h4>{{model.user.firstName}}</h4>
        <label class="delta-object-text">Last Name</label>
        <h4>{{model.user.lastName}}</h4>
    </div>
    <a ng-show="model.isAdmin" class="btn btn-danger btn-block"
       ng-click="model.deleteUser(model.user._id)"><b>Delete</b></a>
</div>