<!--
<ul class="list-group">
    <li ng-repeat="game in model.games" class="list-group-item">
        <div class="row">
            <div class="col-xs-2">
                <img ng-src="{{game.cover}}" width="120" height="160">
            </div>
            <div class="col-xs-8">
                <a href="#!/game/{{game._id}}/detail"><h4>{{game.name}}</h4></a>
                <p>{{game.description}}</p>
            </div>
            <div class="col-xs-2">
                <a href="#!/game/{{game._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span></a>
            </div>
        </div>
    </li>
</ul>-->

<h2>Hello!</h2>