<div>
    <h2 class="heading">Profile</h2>
    <label class="delta-object-text">Username</label>
    <input class="form-control" placeholder="Username" ng-model="model.user.username" readonly>
    <label class="delta-object-text">Email</label>
    <input type="email" ng-model="model.user.email" class="form-control" placeholder="Email"/>
    <label class="delta-object-text">First Name</label>
    <input class="form-control" ng-model="model.user.firstName" placeholder="First Name"/>
    <label class="delta-object-text">Last Name</label>
    <input class="form-control" ng-model="model.user.lastName" placeholder="Last Name"/>
    <label class="delta-object-text">Cover</label>
    <input class="form-control" ng-model="model.user.cover" placeholder="Cover"/>
    <a class="btn btn-primary btn-block" ng-click="model.updateUser(model.user)"><b>Update</b></a>
    <a ng-show="model.isLoggedUser" class="btn btn-danger btn-block" ng-click="model.logout()"><b>Logout</b></a>
    <a ng-show="model.loggedUser.isAdmin && !model.isLoggedUser" class="btn btn-danger btn-block"
       ng-click="model.deleteUser(model.user._id)"><b>Delete</b></a>
</div>