<div class="delta-object-title-head">Liked Games</div>
<ul class="list-group">
    <li ng-repeat="game in model.viewGames" class="list-group-item">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <img class="delta-list-image" ng-src="{{game.cover}}" width="120" height="160">
            </div>
            <div class="col-xs-10 col-sm-8">
                <a href="#!/game/{{game._id}}/detail"><h4>{{game.name}}</h4></a>
                <p class="hidden-xs">{{game.description}}</p>
            </div>
            <div class="col-xs-1">
                <a href="#!/game/{{game._id}}/manage" ng-show="model.loggedUser.isSeller">
                    <span class="glyphicon glyphicon-cog pull-right"></span></a>
            </div>
        </div>
    </li>
</ul>