<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="delta-navbar-user">
            <div class="row">
                <div class="col-xs-2">
                    <a class="delta-navbar-logo btn" href="/">
                        <img src="https://raw.githubusercontent.com/abhilash156/GameOn/master/public/images/favicon-96x96.png"
                             class="delta-navbar-userpic" alt="">
                        <h5 class="delta-inline-block hidden-xs">GameOn</h5>
                    </a>
                </div>
                <div class="col-xs-2 pull-right">
                    <a ng-show="model.loggedUser" class="delta-navbar-username pull-right" href="#!/profile">
                        <img ng-src="{{model.loggedUser.cover}}" class="delta-navbar-userpic">
                        <h6 class="delta-inline-block hidden-xs">{{model.loggedUser.username}}</h6>
                    </a>

                    <a ng-show="!model.loggedUser" href="#!/login" class="btn btn-success pull-right" type="button">
                        <span class="fa fa-sign-in"></span>
                        <h5 class="delta-inline-block hidden-xs">Login</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>