<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="delta-navbar-user">
            <div class="row">
                <div class="col-xs-2">
                    <a class="delta-navbar-username" href="/">
                        <img src="https://raw.githubusercontent.com/abhilash156/GameOn/master/public/images/favicon-96x96.png"
                             class="delta-navbar-userpic" alt="">
                        <h5 class="delta-inline-block hidden-xs">GameOn</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>