<div class="delta-component">
    <label for="name">Name</label>
    <input name="Name" ng-model="model.widget.name" placeholder="Name" class="form-control" id="name"/>

    <label for="text">Text</label>
    <input ng-model="model.widget.text" placeholder="Heading" class="form-control" id="text"/>

    <label for="url">URL</label>
    <input ng-model="model.widget.url" placeholder="URL" class="form-control" id="url"/>

    <label for="width">Width</label>
    <input ng-model="model.widget.width" name="Width" placeholder="3" class="form-control" id="width"/>
</div>