<div class="delta-component">
    <label for="name">Name</label>
    <input ng-model="model.widget.name" name="Name" placeholder="Name" class="form-control" id="name"/>

    <label for="text">Text</label>
    <input ng-model="model.widget.text" placeholder="Text" class="form-control" id="text"/>

    <label for="url">URL</label>
    <input ng-model="model.widget.url" placeholder="URL" class="form-control" id="url"/>

    <label for="width">Width</label>
    <input ng-model="model.widget.width" name="Width" placeholder="3" class="form-control" id="width"/>

    <label for="search">Search</label>
    <a class="btn btn-default btn-primary btn-block" id="search"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search">Search</a>

    <label for="upload">Upload</label>
    <form action="/api/upload"   method="post" enctype="multipart/form-data" id="upload">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>
</div>