<div class="delta-content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-xs-1 pull-left">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"><span
                            class="glyphicon glyphicon-chevron-left pull-left"></span></a>
                </div>
                <div class="col-lg-1 col-xs-2">
                    <p class="accent-text pull-left"><b>Widgets</b></p>
                </div>
                <div class="col-lg-1 col-xs-2 pull-right">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"><span
                            class="glyphicon glyphicon-plus pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
            <div class="col-xs-12 col-lg-8 col-md-10" delta-draggable>
                <div ng-repeat="widget in model.widgets" class="delta-widget-list">
                    <div class="delta-widget">
                        <div class="delta-widget-toolbar">
                            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                                <span class="glyphicon glyphicon-cog"></span></a>
                            <a href=""><span class="glyphicon glyphicon-align-justify handle"></span></a>
                        </div>
                        <div ng-switch="widget.widgetType">
                            <div ng-switch-when="HEADING" >
                                <ng-include src="'views/widget/templates/widget-heading.view.client.html'">
                            </div>
                            <div ng-switch-when="IMAGE">
                                <ng-include src="'views/widget/templates/widget-image.view.client.html'">
                            </div>
                            <div ng-switch-when="TEXT">
                                <ng-include src="'views/widget/templates/widget-text.view.client.html'">
                            </div>
                            <div ng-switch-when="YOUTUBE">
                                <ng-include src="'views/widget/templates/widget-youtube.view.client.html'">
                            </div>
                            <div ng-switch-when="HTML" ng-bind-html="model.trustThisContent(widget.text)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-lg-1 col-xs-1 pull-left">
                </div>
                <div class="col-lg-1 col-xs-1">
                    <a href=""><span class="glyphicon glyphicon-play pull-right"></span></a>
                </div>
                <div class="col-lg-1 col-xs-1">
                    <a href=""><span class="glyphicon glyphicon-eye-open pull-right"></span></a>
                </div>
                <div class="col-lg-1 col-xs-2 pull-right">
                    <a href="#!/user/{{model.userId}}"><span class="glyphicon glyphicon-user pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>
</div>
