<div class="delta-component">
    <label for="name">Name</label>
    <input ng-model="model.widget.name" name="Name" placeholder="Name" class="form-control" id="name"/>

    <label for="text">Text</label>
    <input ng-model="model.widget.text" placeholder="Heading" class="form-control" id="text"/>

    <label for="size">Size</label>
    <select ng-model="model.widget.size" name="Size" class="form-control" id="size">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
    </select>
</div>