<div class="delta-component">
    <label for="name">Name</label>
    <input ng-model="model.widget.name" name="Name" placeholder="Name" class="form-control" id="name"/>

    <label for="text">Text</label>
    <input ng-model="model.widget.text" placeholder="Heading" class="form-control" id="text"/>

    <label for="rows">Rows</label>
    <input ng-model="model.widget.rows" placeholder="2" class="form-control" id="rows"/>

    <label for="placeholder">Placeholder</label>
    <input ng-model="model.widget.placeholder" class="form-control" id="placeholder"/>

    <label for="formatted">Formatted</label>
    <input ng-model="model.widget.formatted" type="checkbox" id="formatted"/>
</div>
