<div class="delta-content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-xs-1 pull-left">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><span
                            class="glyphicon glyphicon-chevron-left pull-left"></span></a>
                </div>
                <div class="col-lg-4 col-xs-6">
                    <p class="accent-text pull-left"><b>Choose Widget</b></p>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
            <div class="col-xs-12 col-lg-8 col-md-10">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a ng-click="model.createWidget('HEADING')" role="button"><b>Header</b></a>
                    </li>
                    <li class="list-group-item">
                        <a href=""><b>Label</b></a>
                    </li>
                    <li class="list-group-item">
                        <a ng-click="model.createWidget('HTML')" role="button"><b>HTML</b></a>
                    </li>
                    <li class="list-group-item">
                        <a ng-click="model.createWidget('TEXT')" role="button"><b>Text Input</b></a>
                    </li>
                    <li class="list-group-item">
                        <a href=""><b>Link</b></a>
                    </li>
                    <li class="list-group-item">
                        <a href=""><b>Button</b></a>
                    </li>
                    <li class="list-group-item">
                        <a ng-click="model.createWidget('IMAGE')" role="button"><b>Image</b></a>
                    </li>
                    <li class="list-group-item">
                        <a ng-click="model.createWidget('YOUTUBE')" role="button"><b>YouTube</b></a>
                    </li>
                    <li class="list-group-item">
                        <a href=""><b>Data Table</b></a>
                    </li>
                    <li class="list-group-item">
                        <a href=""><b>Repeater</b></a>
                    </li>
                </ul>
            </div>
            <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-lg-1 col-xs-2 pull-right">
                    <a href="#!/user/{{model.userId}}"><span class="glyphicon glyphicon-user pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>
</div>