<div class="delta-content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-xs-1 pull-left">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}"><span
                            class="glyphicon glyphicon-chevron-left pull-left"></span></a>
                </div>
                <div class="col-lg-2">
                    <p class="accent-text pull-left"><b>Search Flickr</b></p>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="input-group">
            <input ng-model="searchText" type="text" class="form-control">
            <span class="input-group-btn">
                    <a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
        </div>
        <span class="delta-divider"></span>
        <div class="row">
            <div class="col-xs-4" ng-repeat="photo in model.photos.photo">
                <img ng-click="model.selectPhoto(photo)"
                     ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-lg-1 col-xs-2 pull-right">
                    <a href="#!/user/{{model.userId}}"><span class="glyphicon glyphicon-user pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>
</div>
