<div class="delta-content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-xs-1 pull-left">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><span
                            class="glyphicon glyphicon-chevron-left pull-left"></span></a>
                </div>
                <div class="col-lg-2">
                    <p class="accent-text pull-left"><b>Widget Edit</b></p>
                </div>

                <div class="col-lg-1 pull-right">
                    <a ng-click="model.updateWidget(model.widget)" role="button"><span
                            class="glyphicon glyphicon-ok pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
            <div class="col-xs-12 col-lg-8 col-md-10">
                <div ng-switch="model.widget.widgetType">
                    <div ng-switch-when="HEADING">
                        <ng-include src="'views/widget/templates/widget-heading-edit.view.client.html'">
                    </div>
                    <div ng-switch-when="IMAGE">
                        <ng-include src="'views/widget/templates/widget-image-edit.view.client.html'">
                    </div>
                    <div ng-switch-when="YOUTUBE">
                        <ng-include src="'views/widget/templates/widget-youtube-edit.view.client.html'">
                    </div>
                    <div ng-switch-when="HTML">
                        <ng-include src="'views/widget/templates/widget-html-edit.view.client.html'">
                    </div>
                    <div ng-switch-when="TEXT">
                        <ng-include src="'views/widget/templates/widget-text-edit.view.client.html'">
                    </div>
                </div>

                <span class="delta-divider"></span>
                <a class="btn btn-default btn-danger btn-block" ng-click="model.deleteWidget()">Delete</a>
            </div>
            <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
        </div>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-lg-1 col-xs-2 pull-right">
                    <a href="#!/user/{{model.userId}}"><span class="glyphicon glyphicon-user pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>
</div>