<div class="delta-content">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row delta-margin-top">
                <div class="col-lg-1 col-xs-2 pull-left">
                    <p class="accent-text pull-left"><b>Profile</b></p>
                </div>
                <div class="col-lg-1 col-xs-2 pull-right">
                    <a ng-click="model.updateUser(model.user)" role="button" type="submit">
                        <span class="glyphicon glyphicon-ok pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2">
                                <span class="delta-list-icon fa fa-gamepad"></span>
                            </div>
                            <div class="col-xs-10">
                                <a href="#!/user/{{model.user._id}}/game"><h5>My Games</h5></a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2">
                                <span class="delta-list-icon glyphicon glyphicon-bookmark"></span>
                            </div>
                            <div class="col-xs-10">
                                <a href="#!/user/{{model.user._id}}/liked"><h5>Liked Games</h5></a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2">
                                <span class="delta-list-icon fa fa-users"></span>
                            </div>
                            <div class="col-xs-10">
                                <a href="#!/user/{{model.user._id}}/following"><h5>Following</h5></a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2">
                                <span class="delta-list-icon fa fa-users"></span>
                            </div>
                            <div class="col-xs-10">
                                <a href="#!/user/{{model.user._id}}/followers"><h5>Followers</h5></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 col-xs-8">
                <h2 class="heading">Profile</h2>
                <label>Username</label>
                <input class="form-control" placeholder="Username" ng-model="model.user.username">
                <label>Email</label>
                <input type="email" ng-model="model.user.email" class="form-control" placeholder="Email"/>
                <label>First Name</label>
                <input class="form-control" ng-model="model.user.firstName" placeholder="First Name"/>
                <label>Last Name</label>
                <input class="form-control" ng-model="model.user.lastName" placeholder="Last Name"/>
                <a class="btn btn-danger btn-block" ng-click="model.deleteUser(model.user._id)"><b>Delete</b></a>
                <a class="btn btn-danger btn-block" href="#!/login"><b>Logout</b></a>
            </div>
        </div>
    </div>
    <div class="delta-navbar-bottom">
        <ng-include src="'views/common/templates/navbar-bottom.view.client.html'">
    </div>
</div>