<div class="delta-navbar-top">
    <ng-include src="'views/common/templates/navbar-top-anon.view.client.html'">
</div>
<div class="container-fluid">
    <div class="delta-login">
        <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
        <div class="col-xs-12 col-lg-8 col-md-10">
            <div ng-show="model.errorMessage" class="alert alert-danger">
                {{ model.errorMessage }}
            </div>
            <h2 ng-hide="model.loggedUser.isAdmin" class="heading">Register</h2>
            <h2 ng-show="model.loggedUser.isAdmin" class="heading">Create User</h2>
            <input class="form-control" ng-model="model.user.username" placeholder="Username"/>
            <input class="form-control" ng-model="model.user.firstName" placeholder="First Name"/>
            <input class="form-control" ng-model="model.user.lastName" placeholder="Last Name"/>
            <select ng-model="model.user.userType" name="UserType" class="form-control">
                <option value="PLAYER">Player</option>
                <option value="SELLER">Seller</option>
            </select>
            <input type="password" ng-model="model.user.password" class="form-control" placeholder="Password"/>
            <input type="password" ng-model="model.vPassword" class="form-control" placeholder="Verify Password"/>
            <a ng-hide="model.loggedUser.isAdmin" class="btn btn-primary btn-block"
               ng-click="model.registerUser(model.user, model.vPassword)">Register</a>
            <a ng-show="model.loggedUser.isAdmin" class="btn btn-primary btn-block"
               ng-click="model.createUser(model.user, model.vPassword)">Create</a>
            <a class="btn btn-danger  btn-block" href="#!/login">Cancel</a>
        </div>
        <div class="visible-lg visible-md col-lg-2 col-md-1"></div>
    </div>
</div>